<div id="mainnav" class="container-fluid">
  <div class="row">
    <div class="col-md-4 text-left">
      <a data-ng-click="main.subtractDay()" class="btn btn-primary">-1 day</a>
      <a data-ng-click="main.addDay()" class="btn btn-primary">+1 day</a>
    </div>
    <div class="col-md-4 text-center">
      <a data-ng-click="main.addObject()" class="btn btn-primary">Add event</a>
    </div>
    <div class="col-md-4 text-right">
        <a data-ng-click="main.setDayRange(1)" class="btn btn-primary">1</a>
        <a data-ng-click="main.setDayRange(4)" class="btn btn-primary">4</a>
        <a data-ng-click="main.setDayRange(7)" class="btn btn-primary">7</a>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="board">
    <div class="hour-names">
      <div class="header"></div>
      <div class="hour" data-ng-repeat="hour in 24|range">
        {{main.getDate(main.startDate,hour)|moment:'ha'}}
      </div>
    </div>
    <div class="day dayLink" data-startDate="startDate" data-ng-repeat="day in main.dayRange|range">
      <div class="header">
            {{main.getDate(day,hour)|moment:'ll'}}
      </div>
      <div class="hour" data-ng-repeat="hour in 24|range"></div>
      <div class="event"
           data-ng-repeat="event in main.calendarData|eventInDate:main.startDate:day|orderBy:'startDate'"
           data-event="event"
           data-ng-style="{{event|eventStyle:main.calendarData}}">
        <pre>{{event|json}}</pre>
      </div>
    </div>
  </div>
</div>
